<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CookieClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CookieClicker.Properties.Settings>
            <setting name="SavedClicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedMulti" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedClickPower" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedAutoCookies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedRebirths" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedRebirthPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedPretRebirth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SalvarePreturiClick" serializeAs="String">
                <value />
            </setting>
            <setting name="SalvarePreturiMulti" serializeAs="String">
                <value />
            </setting>
            <setting name="SalvarePreturiAuto" serializeAs="String">
                <value />
            </setting>
        </CookieClicker.Properties.Settings>
    </userSettings>
</configuration>